addict==2.4.0
ftfy==6.3.1
matplotlib==3.9.4
mmcv==2.0.1
mmengine==0.8.4
mmsegmentation==1.2.2
numpy==1.26.0
omegaconf==2.3.0
opencv-python==4.12.0.88
Pillow==11.3.0
prettytable==3.16.0
pycocotools==2.0.10
PyYAML==6.0.2
regex==2024.11.6
rich==14.0.0
scipy==1.13.1
termcolor==3.1.0
torch==2.0.0
torchvision==0.15.1
tqdm==4.67.1
