# ===== Datasets =====
tabular-experiments/*.data
vision-experiments/data/

# ===== Downloaded vision datasets =====
**/MNIST/
**/cifar-10*/

# ===== Generated outputs =====
*_outputs/
*.tar.gz
*.gz

# ===== Python =====
__pycache__/
*.pyc

# ===== OS =====
.DS_Store
Thumbs.db
