# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Outputs
file_storage
paper/build/
external_kernels/
data/mnist/

# OS
.DS_Store

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
