*.ipynb_checkpoints
.vscode/
*__pycache__/
*.pyc
*.pkl
*.pt
.DS_Store
logs/
data/
micro/results/*/data_*
micro_hf/results/*/data_*
micro_hf/old_results/
micro_hf/results/*-old/*
mini/output_dir/
old/
micro_hf/change_folder_names.py