output/**/*.npz
output/questions/
output/YelpChi/
output/pubmed/
output/Flickr/
output/cora/
output/citeseer/
output/ACM/
output/weibo/
output/Reddit/
output/Amazon/
output/Facebook/
output/BlogCatalog/
__pycache__/
*.pyc
dataset/
