# source control
.git
.gitignore
.github

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/

# Conda / virtual-env data
envs/
.conda/
.venv/

# Local configuration files
.vscode

# Documentation, tests, large data
media/
*.csv
*.h5
wandb/
