__pycache__
training/__pycache__
training_transcoder/__pycache__
models/
data/
circuit_utils/__pycache__
plots_and_tables/__pycache__

family_circuit/families
family_circuit/families_35M
family_circuit/__pycache__

function_circuit/DMS
function_circuit/__pycache__
function_circuit/embeddings_cache
function_circuit/embeddings_cache_35M
function_circuit/functions
function_circuit/functions_35M
function_circuit/probe
function_circuit/probe_35M

steering/eval_models
steering/__pycache__

visualization/NADP_binding_35M/virtual_weights.json

dev/
*dev*
*_dev*

*.csv
*.pt
*.npz