torch>=2.0
torchvision>=0.15
numpy>=1.23
pandas>=1.5
matplotlib>=3.6
tqdm
einops
opencv-python
findiff
solidspy
scikit-image
pyyaml
imageio
scipy>=1.9
scikit-learn>=1.1
scikit-image>=0.19
dill
findiff>=0.10
solidspy
