# This file may be used to create an environment using:
# $ conda create --name <env_name> --file requirements.txt -c conda-forge -c pytorch
# platform: linux-64
python=3.10.13
ipython=8.15.0
ipywidgets=8.0.4
lightning=2.3.0
matplotlib=3.8.0
nbstripout=0.8.0
numpy=1.26.0
pytorch=2.1.1
torchvision=0.16.1
tqdm=4.65.0
wandb=0.14.0
