# Python >= 3.10
numpy
torch
torch-geometric
e3nn
scikit-learn
tqdm
wandb
lightning
rich
joblib
biotite
biopython
brotli
zstd
cloudpathlib
msgpack_numpy
huggingface_hub
einops
tokenizers
transformers
omegaconf
gotennet[full]

# Extra baseline packages:
# Install mace-layer from https://github.com/ACEsuit/mace-layer.
