# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
torch
matplotlib>=3.9.4
numpy<2
pandas>=2.2.3
pot>=0.9.5
scipy>=1.13.1
scikit-learn
seaborn
submitit
rich
black
fastparquet
pyarrow
tqdm