# Cache/config folders
.hydra/
.vscode/*
.mypy_cache/
.ruff_cache/

# Ignore all __pycache__ folders
**/__pycache__/

# Output and run folders
outputs/
multirun/
data/*

# Log files
cli.log

# Python bytecode
*.pyc

# Large external assets
/*.zip
/*.tar