--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://data.pyg.org/whl/torch-2.1.0+cu118.html
torch==2.1.2
pandas
matplotlib
numpy==1.26.4
pyyaml
einops
tensorboard
ml_collections
ema_pytorch
torch_geometric
jupyterlab