

figures/fig1/req_lib
figures/fig2/req_lib




simulations/req_lib/

simulations/000_pretraining/pretrainings1/logs
simulations/000_pretraining/pretrainings1/data

simulations/100_glasso/experiments1/logs
simulations/100_glasso/experiments1/data
simulations/100_glasso/experiments1/bic_data
simulations/100_glasso/experiments1/bic_plots
simulations/100_glasso/outputs1/logs
simulations/100_glasso/outputs1/data
simulations/100_glasso/outputs1/bic_data
simulations/100_glasso/outputs1/bic_plots

simulations/200_hwgl/pretrainings1/logs
simulations/200_hwgl/pretrainings1/data
simulations/200_hwgl/experiments1/logs
simulations/200_hwgl/experiments1/data
simulations/200_hwgl/experiments1/bic_data
simulations/200_hwgl/experiments1/bic_plots
simulations/200_hwgl/outputs1/logs
simulations/200_hwgl/outputs1/data
simulations/200_hwgl/outputs1/bic_data
simulations/200_hwgl/outputs1/bic_plots

simulations/300_ipchd/experiments1/logs
simulations/300_ipchd/experiments1/data
simulations/300_ipchd/experiments1/bic_data
simulations/300_ipchd/outputs1/logs
simulations/300_ipchd/outputs1/data
simulations/300_ipchd/outputs1/bic_data



simulations/400_jichd/experiments1/logs
simulations/400_jichd/experiments1/data
simulations/400_jichd/experiments1/bic_data
simulations/400_jichd/outputs1/logs
simulations/400_jichd/outputs1/data
simulations/400_jichd/outputs1/bic_data

simulations/500_AggregatedDataExperiments/data_all
simulations/500_AggregatedDataExperiments/plots_bymethod

simulations/600_AggregatedDataFull/data_all
simulations/600_AggregatedDataFull/plots_bymethod
visualizations







simulations2/req_lib/

simulations2/000_pretraining/pretrainings1/logs
simulations2/000_pretraining/pretrainings1/data

simulations2/100_glasso/experiments1/logs
simulations2/100_glasso/experiments1/data
simulations2/100_glasso/experiments1/bic_data
simulations2/100_glasso/experiments1/bic_plots
simulations2/100_glasso/outputs1/logs
simulations2/100_glasso/outputs1/data
simulations2/100_glasso/outputs1/bic_data
simulations2/100_glasso/outputs1/bic_plots

simulations2/200_hwgl/pretrainings1/logs
simulations2/200_hwgl/pretrainings1/data
simulations2/200_hwgl/experiments1/logs
simulations2/200_hwgl/experiments1/data
simulations2/200_hwgl/experiments1/bic_data
simulations2/200_hwgl/experiments1/bic_plots
simulations2/200_hwgl/outputs1/logs
simulations2/200_hwgl/outputs1/data
simulations2/200_hwgl/outputs1/bic_data
simulations2/200_hwgl/outputs1/bic_plots

simulations2/300_ipchd/experiments1/logs
simulations2/300_ipchd/experiments1/data
simulations2/300_ipchd/experiments1/bic_data
simulations2/300_ipchd/outputs1/logs
simulations2/300_ipchd/outputs1/data
simulations2/300_ipchd/outputs1/bic_data

simulations2/400_jichd/experiments1/logs
simulations2/400_jichd/experiments1/data
simulations2/400_jichd/experiments1/bic_data
simulations2/400_jichd/outputs1/logs
simulations2/400_jichd/outputs1/data
simulations2/400_jichd/outputs1/bic_data

simulations2/500_AggregatedDataExperiments/data_all
simulations2/500_AggregatedDataExperiments/plots_bymethod

simulations2/600_AggregatedDataFull/data_all
simulations2/600_AggregatedDataFull/plots_bymethod







simulations3/req_lib/

simulations3/000_pretraining/pretrainings1/logs
simulations3/000_pretraining/pretrainings1/data

simulations3/100_glasso/experiments1/logs
simulations3/100_glasso/experiments1/data
simulations3/100_glasso/experiments1/bic_data
simulations3/100_glasso/experiments1/bic_plots
simulations3/100_glasso/outputs1/logs
simulations3/100_glasso/outputs1/data
simulations3/100_glasso/outputs1/bic_data
simulations3/100_glasso/outputs1/bic_plots

simulations3/200_hwgl/pretrainings1/logs
simulations3/200_hwgl/pretrainings1/data
simulations3/200_hwgl/experiments1/logs
simulations3/200_hwgl/experiments1/data
simulations3/200_hwgl/experiments1/bic_data
simulations3/200_hwgl/experiments1/bic_plots
simulations3/200_hwgl/outputs1/logs
simulations3/200_hwgl/outputs1/data
simulations3/200_hwgl/outputs1/bic_data
simulations3/200_hwgl/outputs1/bic_plots

simulations3/300_ipchd/experiments1/logs
simulations3/300_ipchd/experiments1/data
simulations3/300_ipchd/experiments1/bic_data
simulations3/300_ipchd/outputs1/logs
simulations3/300_ipchd/outputs1/data
simulations3/300_ipchd/outputs1/bic_data

simulations3/400_jichd/experiments1/logs
simulations3/400_jichd/experiments1/data
simulations3/400_jichd/experiments1/bic_data
simulations3/400_jichd/outputs1/logs
simulations3/400_jichd/outputs1/data
simulations3/400_jichd/outputs1/bic_data

simulations3/500_AggregatedDataExperiments/data_all
simulations3/500_AggregatedDataExperiments/plots_bymethod

simulations3/600_AggregatedDataFull/data_all
simulations3/600_AggregatedDataFull/plots_bymethod








simulations4/req_lib/

simulations4/000_pretraining/pretrainings1/logs
simulations4/000_pretraining/pretrainings1/data

simulations4/100_glasso/experiments1/logs
simulations4/100_glasso/experiments1/data
simulations4/100_glasso/experiments1/bic_data
simulations4/100_glasso/experiments1/bic_plots
simulations4/100_glasso/outputs1/logs
simulations4/100_glasso/outputs1/data
simulations4/100_glasso/outputs1/bic_data
simulations4/100_glasso/outputs1/bic_plots

simulations4/200_hwgl/pretrainings1/logs
simulations4/200_hwgl/pretrainings1/data
simulations4/200_hwgl/experiments1/logs
simulations4/200_hwgl/experiments1/data
simulations4/200_hwgl/experiments1/bic_data
simulations4/200_hwgl/experiments1/bic_plots
simulations4/200_hwgl/outputs1/logs
simulations4/200_hwgl/outputs1/data
simulations4/200_hwgl/outputs1/bic_data
simulations4/200_hwgl/outputs1/bic_plots

simulations4/300_ipchd/experiments1/logs
simulations4/300_ipchd/experiments1/data
simulations4/300_ipchd/experiments1/bic_data
simulations4/300_ipchd/outputs1/logs
simulations4/300_ipchd/outputs1/data
simulations4/300_ipchd/outputs1/bic_data

simulations4/400_jichd/experiments1/logs
simulations4/400_jichd/experiments1/data
simulations4/400_jichd/experiments1/bic_data
simulations4/400_jichd/outputs1/logs
simulations4/400_jichd/outputs1/data
simulations4/400_jichd/outputs1/bic_data

simulations4/500_AggregatedDataExperiments/data_all
simulations4/500_AggregatedDataExperiments/plots_bymethod

simulations4/600_AggregatedDataFull/data_all
simulations4/600_AggregatedDataFull/plots_bymethod
