gym==0.26.2
gymnasium==1.0.0
huggingface-hub==0.26.2
huggingface-sb3==3.0
matplotlib==3.9.0
numpy==1.26.4
pickleshare==0.7.5
pygame==2.6.1
rl_zoo3==2.4.0
scipy==1.14.0
stable_baselines3==2.4.0
torch==2.4.0
tensorboard