# Python
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build

# Log
*.log
*.log.*

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
.env
wandb
output
outputs/

checkpoints
ckpts*
*.pth
*.pt
*.ckpt
*.safetensors
*.bin

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

# Evaluation outputs
eval/VLMEvalKit/outputs/
eval/VLMEvalKit/cache_dir/
eval/VLMEvalKit/.gradio/
