biopython==1.87
cyclopts==4.16.1
docstring_parser==0.18.0
geomloss==0.2.6
markdown-it-py==4.2.0
mdurl==0.1.2
narwhals==2.21.2
OpenMM==8.5.1
plotly==6.7.0
pooch==1.9.0
ProDy==2.6.1
py3Dmol==2.5.5
pyparsing==3.1.1
pyvista==0.48.4
rich==15.0.0
rich-rst==2.0.1
scooby==0.11.2
sidechainnet==1.0.1
trimesh==4.12.2
vtk==9.6.2
