biopython~=1.83
torch-geometric~=2.5.2
torch-scatter~=2.1.2
transformers~=4.40.2
wandb~=0.16.6

biotite~=0.40.0
blosum~=2.0.3
fair-esm~=2.0.0
lmdb~=1.4.1
mdanalysis~=2.7.0
mlflow
seaborn
pdb-tools~=2.5.0
cudatoolkit~=11.1.1
python~=3.12.2

