.vscode
output
old_output*
/unit_test
build
data
new_data
*.ply
**/PKG-INFO
**__pycache__**
.png
*.out
*.npz
**/tmp
snapshot_bw.dump
train_sh
reference_code
submodules
debug
*.pt
*.pth
nouse
bash_scripts
.ipynb_checkpoints
*.ipynb_checkpoints
render_results/*
node_modules
dist
.vite