run/*
output/*
**/.vscode/*
**/__pycache__/*
**__pycache__/**
**/base_results/*
**/runs/*
**/results/*
**/wandb/*
**/.pytest_cache/*
**/results_*/*
**/sudoku_results_*/*
*copy*
*logs*
*cvxpy_logs*
*dist*
.claude/*