wandb_archived/
wandb

data/
result/
results/
data_multiseed/
results_multiseed/
helm/
output/
DataDecide-eval-instances/
DataDecide-eval-instances_sample-evals/

*.zip
*.npz
*.npy
*.pkl
*.json
*.txt
*.csv
*.pt
*.log
*.parquet
*.pkl.batch_count

.env
.RData
.Rhistory
.hf_cache/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
__pycache__/

a.ipynb
a.py
a.sh
temp_upload.py
0_eval_vs_pretrain_flop.py

google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz
