# logs
log/*
logs/*

# predictions
predictions/*
prediction/*
preds/*
preds_*/*
pred/*
pred_*/*
stu_preds/*
stu_panoptic/*
possood*
kittiood*
nuscenesood*

# python cache
*pyc
__pycache__/

# alpine code
Alpine/*
alpine/*
