# Hidden files
.vscode
.DS_Store

# Go results/plots
plots
results

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mcts-run-frozenlake
mcts-run-sailing
mcts-run-taxi
mcts-tune-frozenlake
mcts-tune-sailing
mcts-tune-taxi
mcts-debug-dents
mcts-debug-dents-sailing
mcts-debug-dents-taxi
mcts-debug-varde
mcts-debug-varde-sailing
mcts-debug-varde-taxi
