absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1733730548347/work
aiohappyeyeballs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b38qlemj37/croot/aiohappyeyeballs_1734469403568/work
aiohttp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_44bhte2f2d/croot/aiohttp_1734692700992/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1754315087/work
AnyQt @ file:///home/conda/feedstock_root/build_artifacts/anyqt_1743506780977/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
astor==0.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0fagvkecl5/croot/async-timeout_1732662297241/work
attrs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93pjmt0git/croot/attrs_1734533120523/work
autograd==1.7.0
autograd-gamma==0.5.0
auton-survival==0.1.0
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1733325779670/work
baycomp @ file:///home/conda/feedstock_root/build_artifacts/baycomp_1735293444867/work
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bxpizxa3c/croot/bottleneck_1707864819812/work
Brotli==1.1.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
catboost @ file:///Users/runner/miniforge3/conda-bld/catboost_1738176323242/work/catboost/python-package/dist/catboost-1.2.7-cp39-cp39-macosx_11_0_arm64.whl#sha256=675388cb4a0944f966f19fa8ee05f10ab0bb8bf3d0a94dd9f3f360968fc1e459
cattrs @ file:///home/conda/feedstock_root/build_artifacts/cattrs_1733506656399/work
certifi @ file:///opt/miniconda3/conda-bld/certifi_1759786064139/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4xd9yd9i2/croot/cffi_1736182819442/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1741797914774/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
cloudpickle @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_04keaza5jy/croot/cloudpickle_1751309451361/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
commonmark==0.9.1
contourpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_041uwyxdzo/croot/contourpy_1700583585236/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1680755636886/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1734344338200/work
docker-pycreds==0.4.0
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1753875044724/work
ecos==2.0.14
et-xmlfile==1.1.0
eval_type_backport @ file:///home/conda/feedstock_root/build_artifacts/eval_type_backport_1734857727836/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
feather-format==0.4.1
filelock @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d3quwmvouf/croot/filelock_1700591194006/work
fonttools @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_60c8ux4mkl/croot/fonttools_1713551354374/work
formulaic==0.2.4
frozenlist @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6eeg1bc_1e/croot/frozenlist_1730902809317/work
fsspec==2025.2.0
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1735929639977/work
gmpy2 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-muov7gw1/gmpy2_1645462616268/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1749998426524/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1713388347891/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1739952787528/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a12xpo84t2/croot/idna_1714398852854/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_784gdd8gq5/croot/importlib_resources-suite_1720641109833/work
inflate64==1.0.0
interface-meta==1.3.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1701831663892/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1733325873251/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1733382590553/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1755584707998/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_44yzu12j7f/croot/jinja2_1716993410427/work
joblib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8ff7uji0v2/croot/joblib_1718217225309/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
kagglehub @ file:///home/conda/feedstock_root/build_artifacts/kagglehub_1739488418739/work
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1735210234218/work
keyrings.alt @ file:///home/conda/feedstock_root/build_artifacts/keyrings.alt_1731950911532/work
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93o8te804v/croot/kiwisolver_1672387163224/work
liac-arff @ file:///home/conda/feedstock_root/build_artifacts/liac-arff_1734952879699/work
lifelines==0.26.4
lightgbm @ file:///Users/runner/miniforge3/conda-bld/liblightgbm_1739978622953/work
lightning @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bcolu63gfs/croot/lightning_1741115235504/work
lightning-utilities @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a1opbwemot/croot/lightning-utilities_1734103444279/work
llvmlite @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5ehys6pded/croot/llvmlite_1736367094442/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a84ni4pci8/croot/markupsafe_1704206002077/work
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1745349462661/work
mpmath @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_17iu6a8a3m/croot/mpmath_1690848269369/work
multidict @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_de95nfn702/croot/multidict_1730905502686/work
multivolumefile==0.2.3
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1755254908/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_797xfkx_y7/croot/networkx_1717597499877/work
nltk @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66jwomcxtp/croot/nltk_1724427705781/work
numba @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1df15e18zq/croot/numba_1738608630887/work
numexpr @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_45yefq0kt6/croot/numexpr_1696515289183/work
numpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a51i_mbs7m/croot/numpy_and_numpy_base_1708638620867/work/dist/numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl#sha256=829e20a6c33ce51c1a93497d06cb4af22d84caa54a431ea062765da3134e5287
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
openpyxl @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_96hhik4ygv/croot/openpyxl_1721752931204/work
openTSNE @ file:///Users/runner/miniforge3/conda-bld/opentsne_1731785480452/work
orange-canvas-core @ file:///home/conda/feedstock_root/build_artifacts/orange-canvas-core_1734425514622/work
orange-widget-base @ file:///home/conda/feedstock_root/build_artifacts/orange-widget-base_1749816622133/work
Orange3 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_eb8dcto3we/croot/orange3_1742662480386/work
osqp==0.6.7.post3
packaging @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_81ri4yfpjw/croot/packaging_1720101866878/work
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_70o6mid86v/croot/patsy_1718378180175/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1666920692505/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1755067229108/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
prompt-toolkit @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c63v4kqjzr/croot/prompt-toolkit_1704404354115/work
propcache @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a337s3hyzy/croot/propcache_1744012732470/work
protobuf==4.25.3
psutil==6.1.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py7zr==0.22.0
pyarrow==18.1.0
pybcj==1.0.2
pycox==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.21.0
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1726601062926/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1726525002351/work
Pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_29bs9f_dh9/croot/pygments_1684279974747/work
pyparsing @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8a270krrj3/croot/pyparsing_1725041637835/work
pyppmd==1.1.0
PyQt6==6.9.1
PyQt6_sip @ file:///opt/miniconda3/conda-bld/pyqt-split_1757511027462/work/pyqt_sip
pyqtgraph @ file:///home/conda/feedstock_root/build_artifacts/pyqtgraph_1733894476014/work
PySocks @ file:///Users/ktietz/Code/oss/ci_pkgs/pysocks_1626781349491/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-louvain @ file:///home/conda/feedstock_root/build_artifacts/python-louvain_1734532048983/work
pytorch-lightning @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_fd4us0b1y2/croot/pytorch-lightning_1741103565588/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a4b76c83ik/croot/pytz_1713974318928/work
PyYAML @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a8_sdgulmz/croot/pyyaml_1698096054705/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1698062467802/work
pyzstd==0.16.2
qasync @ file:///home/conda/feedstock_root/build_artifacts/qasync_1734683907849/work
qdldl==0.1.7.post4
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1757533287188/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1749167083742/work
radian @ file:///home/conda/feedstock_root/build_artifacts/radian_1737385217502/work
rchitect @ file:///Users/runner/miniforge3/conda-bld/rchitect_1723711008190/work
regex @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_87pebw_aae/croot/regex_1736541331314/work
requests @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_70sm12ba9w/croot/requests_1721414707360/work
requests-cache @ file:///home/conda/feedstock_root/build_artifacts/requests-cache_1734246622535/work
scikit-learn==1.2.2
scikit-multilearn @ file:///home/conda/feedstock_root/build_artifacts/scikit-multilearn_1736973607558/work
scikit-survival==0.21.0
scipy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b9t0odioph/croot/scipy_1717521487325/work/dist/scipy-1.13.1-cp39-cp39-macosx_11_0_arm64.whl#sha256=989d301f853749cc445d0988e25daf1c6d8ed97675ca33599e66b89c23e6af1b
seaborn @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f3_ueh70ud/croot/seaborn_1718302932585/work
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1736875341014/work
serverfiles @ file:///home/conda/feedstock_root/build_artifacts/serverfiles_1725357065722/work
setproctitle @ file:///Users/runner/miniforge3/conda-bld/setproctitle_1731921963133/work
shap @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2203ba54u9/croot/shap_1747299910823/work
similaritymeasures @ file:///home/conda/feedstock_root/build_artifacts/similaritymeasures_1735859344213/work
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1748975625672/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn-pandas @ file:///home/conda/feedstock_root/build_artifacts/sklearn-pandas_1620483185865/work
skorch @ file:///home/conda/feedstock_root/build_artifacts/skorch_1736592823169/work
slicer @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8cofbef6rn/croot/slicer_1747291649880/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_af8vmuwbis/croot/statsmodels_1718381196260/work
SurvivalEVAL @ git+https://github.com/shi-ang/SurvivalEVAL.git@396c7e8816612464bc31f470798992cc8a2ce24b
SurvSet @ file:///Users/ds708/Downloads/SurvSet-main
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tabulate @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a301xhcsz1/croot/tabulate_1701354815389/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1733820672324/work/tensorboard-2.18.0-py3-none-any.whl#sha256=107ca4821745f73e2aefa02c50ff70a9b694f39f790b11e6f682f7d326745eab
tensorboard_data_server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1728639758814/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=c472b8bdc2a54b667c0ad28ca78f043d411b023d697b8ddf85b71ddccd3dcf65
texttable==1.7.0
threadpoolctl @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_efa5bvb6vi/croot/threadpoolctl_1719407806403/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1753796677/work
torch==1.13.1
torchaudio==2.2.2
torchmetrics @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_05hakmd555/croot/torchmetrics_1719910141418/work
torchtuples==0.2.2
torchvision==0.14.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615925783/work
tqdm @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5642tzrprr/croot/tqdm_1738943467095/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93dg13ilv4/croot/typing_extensions_1715268840722/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
ucimlrepo==0.0.7
ujson @ file:///Users/runner/miniforge3/conda-bld/ujson_1724954433052/work
unicodedata2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a3epjto7gs/croot/unicodedata2_1713212955584/work
url-normalize @ file:///home/conda/feedstock_root/build_artifacts/url-normalize_1745705953063/work
urllib3 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cao7_u9937/croot/urllib3_1718912649114/work
wandb @ file:///Users/runner/miniforge3/conda-bld/wandb_1738871378130/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wordcloud @ file:///Users/runner/miniforge3/conda-bld/wordcloud_1733148809243/work
wrapt==1.16.0
xgboost @ file:///home/conda/feedstock_root/build_artifacts/xgboost-split_1713397725960/work/python-package
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
xlsxwriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1750496877773/work
yarl @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_01an_nyy_6/croot/yarl_1732546853427/work
zipp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_31jm3q76eq/croot/zipp_1704206913245/work
