# PyTorch 2.1.0, Python 3.10, and CUDA 12.1 or PyTorch 2.3.0, Python 3.12, CUDA 12.1 should work

matplotlib
pandas
scikit-learn
# torch==1.9.0
torch
tqdm
einops
pre-commit==3.6.0
ipykernel==6.29.0
dacite==1.8.1
omegaconf==2.3.0
torchmetrics==1.3.0
tqdm==4.66.1
pytest==8.0.0
pytest-xdist==3.5.0
numpy==1.26.4
ninja
