{
  "model_name_or_path": "/repo/ckpts/cross_scenario/defeasible_bert_v1_plus_debate",
  "max_length": 128,
  "model_kwargs": {},
  "pooling_strategy": "cls",
  "lora_config_kwargs": null,
  "is_llm": false,
  "apply_billm": false,
  "billm_model_class": null,
  "apply_lora": null,
  "tokenizer_padding_side": null
}