easydict==1.13
einops==0.8.0
numpy==1.24.3
pandas==1.5.3
PyYAML==6.0.2
reformer_pytorch==1.4.4
scikit_learn==1.2.2
scipy==1.14.1
sympy==1.12
torch==2.1.0+cu118
torchdata==0.7.0
tqdm==4.66.4
utils==1.0.2
sktime==0.16.1
patool==1.12
transformers==4.35.2
pydantic==2.10.5
sentencepiece==0.2.0
PyWavelets==1.8.0
matplotlib==3.7.0
accelerate==1.2.1
protobuf==5.29.3
--extra-index-url https://download.pytorch.org/whl/cu118