transformers==4.43.4
tokenizers==0.19.1
imageio
moviepy==1.0.3
proglog
imageio_ffmpeg
decorator
librosa
cffi
soundfile
torchaudio
pytorchvideo
lazy_loader
iopath
audioread
soxr
numba
llvmlite
msgpack
pooch
fairscale