transformers==4.37.2
peft==0.10.0
imageio
moviepy==1.0.3
proglog
imageio_ffmpeg
decorator
librosa
cffi
soundfile
torchaudio
pytorchvideo
lazy_loader
iopath
audioread
soxr
numba
llvmlite
msgpack
pooch
vector_quantize_pytorch
vocos