transformers==4.43.4
tokenizers==0.19.1
imageio
moviepy==1.0.3
proglog
imageio_ffmpeg
decorator
librosa
cffi
soundfile
torchaudio
pytorchvideo
sentencepiece==0.1.99
shortuuid
bitsandbytes==0.43.1
pydantic
markdown2[all]
gradio==4.43.0
gradio_client==1.3.0
requests
httpx==0.24.1
uvicorn
fastapi
soundfile
timm==0.9.16
openai-whisper 
loguru
av
deepspeed