imageio
moviepy==1.0.3
proglog
imageio_ffmpeg
decorator
librosa
cffi
soundfile
torchaudio
lazy_loader
iopath
audioread
soxr
numba
llvmlite
msgpack
pooch
omegaconf
pytorchvideo==0.1.5
tqdm==4.66.1
pyyaml==6.0.1
transformers==4.43.4
einops==0.7.0
peft==0.10.0
data==0.4
ftfy==6.2.3
timm==1.0.8
sentencepiece==0.1.99
protobuf==4.24.4
bitsandbytes==0.47.0
numpy==1.26.4
torchvision==0.17.0
torchaudio==2.2.0
torch==2.2.0
soundfile==0.12.1