# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*/DS_Store

# DATA
*.bz2
*.pth
*.log

wandb/
*keys

src/output/*

*.npz
