accelerate==1.12.0
datasets==4.4.1
evaluate==0.4.6
flash_attn==2.8.3
gradio==6.14.0
lm_eval==0.4.9.2
matplotlib==3.10.9
numpy==2.4.4
packaging==26.2
regex==2026.4.4
seaborn==0.13.2
torch==2.9.1
tqdm==4.67.3
transformers==4.57.6
