__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage*
htmlcov/

.ipynb_checkpoints/

.env
.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/
.eggs/

**/wandb/
**/logs/
**/output/
**/plots/
**/models/

.DS_Store
*.swp
*.swo
.idea/
.vscode/
