easydict==1.13
matplotlib==3.10.8
lightning==2.6.1
scipy==1.15.3
kagglehub==0.4.3
bayesian-optimization==3.2.0
deepxde==1.15.0
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]==0.4.28
