__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
.env

metadistill/logs/
metadistill/images/
metadistill/artifacts/
metadistill/tb_logs/
metadistill/runs/
metadistill/data/train/
metadistill/data/teacher/
metadistill/checkpoints/generated/

.DS_Store
