easydict
tqdm
pytz
opencv-python
trimesh
point-cloud-utils
chumpy
pyyaml
plyfile
einops
timm
smplx
gdown
mediapipe==0.10.5
pyrender==0.1.33
huggingface_hub
pycocotools
pandas
c3d
lxml
scikit-learn
open3d
pytorch-msssim
rtree
h5py
ultralytics
qai-hub-models[foot-track-net]==0.11.0