torch==2.3.0
accelerate==0.32.0
transformers==4.44.2
colorlog
wandb
modin[ray]
accelerate
datasets
toml
tabulate
ipdb
pudb
nvitop
sentencepiece
evaluate
lm_eval==0.4.7
# lm-eval-harness
# einops
jsonlines
numexpr
openai>=0.6.4
# omegaconf>=2.2
peft>=0.2.0
pybind11>=2.6.2
pycountry
pytablewriter
rouge-score>=0.0.4
sacrebleu==1.5.0
scikit-learn>=0.24.1
sqlitedict
tqdm-multiprocess
zstandard
bitsandbytes==0.43.2
dill
word2number
more_itertools
langdetect
immutabledict
antlr4-python3-runtime==4.11
sympy>=1.12
# plot
matplotlib
seaborn
gpustat