librosa==0.11.0
matplotlib==3.10.9
numpy==2.4.4
opacus==1.5.4
pandas==3.0.2
Pillow==12.2.0
pypdf==6.10.2
resemblyzer==0.1.4
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sympy==1.13.1
torch==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.67.1
wandb==0.26.1
