.nfs*

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pt
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt
*.json
*.jpg


# onnx models
*.onnx

# ipython/jupyter notebooks
**/.ipynb_checkpoints/
**/__pycache__

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# demo 
**/node_modules
yarn.lock
package-lock.json

# mask output
output
output_video
*.png

# dataset
data/*
!data/data_download.py

# checkpoinit
ckpt

# result
exp_infoSAM*

# searched ckpt
*.tar
*.zip

# temp
*temp*
